@font-face {
  font-family: "Josefin Sans";
  src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

:root {
  --Background: hsl(235, 21%, 11%);
  --TodoBackground: hsl(235, 24%, 19%);
  --Text1: hsl(234, 39%, 85%);
  --Text2: hsl(234, 11%, 52%);
  --Text3: hsl(233, 14%, 35%);
  --Text4: hsl(237, 14%, 26%);
  --TextHover: hsl(236, 33%, 92%);

  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

[data-theme="light"] {
  --Background: hsl(0, 0%, 98%);
  --TodoBackground: hsl(0, 0%, 100%);
  --Text1: hsl(235, 19%, 35%);
  --Text2: hsl(236, 9%, 61%);
  --Text3: hsl(233, 11%, 84%);
  --Text4: hsl(236, 33%, 92%);
  --TextHover: hsl(235, 19%, 35%);

  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans";
  font-size: 18px;
}

.background-dark {
  background-color: var(--Background);
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.background-light {
  background-color: var(--Background);
  background-image: url(../images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.app-body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1.5em;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4em 0 1.5em 0;
}

header h1 {
  font-size: 3em;
  color: white;
  letter-spacing: 0.2em;
}

header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* MAIN */

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

/* FORM */

.form-add {
  width: 100%;
  height: 3.5em;
  display: flex;
  flex-direction: row;
  margin-block: 1em;
  background-color: var(--TodoBackground);
  border-radius: 5px;
}

.btn-add {
  height: 1.7em;
  width: 2em;
  margin: 1.6em;
  background-color: transparent;
  color: var(--Text1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px var(--Text4);
}

.btn-add:hover {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
    linear-gradient(101deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  background-origin: border-box;
  background-clip: content-box, border-box;
  color: white;
}

.btn-add:active {
  opacity: 0.5;
}

.form-add input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1em;
  color: var(--Text1);
}

/* SECTION */

section {
  width: 100%;
}

section ul {
  height: min(50vh, 440px);
  background-color: var(--TodoBackground);
  overflow-x: hidden;
  border-radius: 5px 5px 0 0;
}

section ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.5em;
  background-color: var(--TodoBackground);
  border-bottom: 1px solid var(--Text4);
}

section ul li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 1.6em;
  width: 1.7em;
  margin: 1.5em;
  z-index: 10;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  width: 1.24em;
  height: 1.2em;
  margin: 1.2em;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1px var(--Text4);
  cursor: pointer;
}

input:hover ~ .checkmark {
  border: solid 1px transparent;
  background-image: linear-gradient(
      var(--TodoBackground),
      var(--TodoBackground)
    ),
    linear-gradient(101deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  background-origin: border-box;
  background-clip: content-box, border-box;
}

input:checked ~ .checkmark {
  border: solid 1px transparent;
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
    linear-gradient(101deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  background-origin: border-box;
  background-clip: content-box, border-box;
  color: white;
  content: url(../images/icon-check.svg);
  width: 1.24em;
  height: 1.2em;
}

input:checked ~ p {
  color: var(--Text3);
  text-decoration: line-through;
}

input:checked:hover ~ .checkmark {
  border: 1px solid var(--Text4);
}

input:active ~ .checkmark {
  opacity: 0.5;
}

.btn-edit {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: var(--Text4);
  margin: 0.5em;
  cursor: pointer;
}

.btn-edit:hover {
  color: var(--Text2);
}

.btn-edit:active {
  opacity: 0.5;
}

.btn-delete {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: var(--Text4);
  margin: 0.5em;
  cursor: pointer;
}

.btn-delete:hover {
  color: var(--Text2);
}

.btn-delete:active {
  opacity: 0.5;
}

section ul li:hover .btn-delete {
  display: flex;
}

section ul li:hover .btn-edit {
  display: flex;
}

section ul li p {
  overflow-y: hidden;
  height: 100%;
  width: 67.4%;
  color: var(--Text1);
  align-self: center;
  display: flex;
  align-items: center;
}

/* EDIT FORM */

.form-edit {
  width: 100%;
  height: 3.5em;
  display: flex;
  flex-direction: row;
  background-color: var(--TodoBackground);
  border-bottom: 1px solid var(--Text4);
}

.form-edit .btn-update {
  height: 1.7em;
  width: 2.3em;
  margin: 0.6em;
  background-color: transparent;
  color: var(--Text2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1.2em;
}

.form-edit .btn-update:hover {
  color: var(--Text1);
}

.form-edit .btn-update:active {
  opacity: 0.5;
}

.form-edit input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1em;
  color: var(--Text1);
}

.form-edit .btn-cancel {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  margin: 0.65em;
  cursor: pointer;
  color: var(--Text4);
}

.form-edit .btn-cancel:hover {
  color: var(--Text2);
}

.form-edit .btn-cancel:active {
  opacity: 0.5;
}

/* ASIDE */

aside {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  height: 5em;
  background-color: var(--TodoBackground);
  border-radius: 0 0 5px 5px;
  border-top: 1px solid var(--Text4);
}

.filter-container {
  width: 40%;
}

.filter-container input {
  width: 100%;
  height: 2em;
  margin-block: 0.5em;
}

.btn-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-filter {
  border: none;
  background-color: transparent;
  color: var(--Text3);
  font-weight: bolder;
  cursor: pointer;
}

.btn-filter:hover {
  color: var(--Text1);
}

.btn-filter-active {
  color: var(--BrightBlue);
}

.dnd {
  padding: 3em;
}
